.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: 200px;
    position: relative;
    width: 55%;

  }
  
  .folder {
    position: absolute;
    top: -20px;
    left: calc(50% - 60px);
    animation: float 2.5s infinite ease-in-out;
    transition: transform 0.3s ease;
  }
  
  .folder:hover {
    transform: scale(1.05);
  }
  
  .folder .front-side,
  .folder .back-side {
    position: absolute;
    transition: transform 350ms;
    transform-origin: bottom center;
  }
  .folder .front-side {
    z-index: 1;
  }
  .container:hover .front-side {
    transform: rotateX(-40deg) skewX(15deg);
  }
  
  .folder .tip {
    background: linear-gradient(135deg, #ff9a56, #ff6f56);
    width: 80px;
    height: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -10px;
    z-index: 2;
  }
  
  .folder .cover {
    background: linear-gradient(135deg, #ffe563, #ffc663);
    width: 120px;
    height: 80px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .custom-file-upload {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-block;
    width: 220px;
    position: relative;
  }
  
  .custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  